body {
  background: #E3E3DB;
  font-family: 'BioRhyme', serif;
  color: #624644;
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
  outline:none;
}

:focus {
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
  outline:none;
}
