<div class="sidebar">
  <div class="logo-wrapper">
    <div class="circle"></div>
    <h1><span>Bloc</span><br/><span>Chat</span></h1>
  </div>

  <div class=room-list>
    <h5>Logged in as: {{ currentUser }}</h5>
    <h2><button type="button" class="btn btn-default btn-lg" ng-click="open()">Add Room</button></h2></br>
    <div ng-repeat="room in rooms" >
        <h4 class="room-name" ng-click="selectRoom(room)">{{ room.$value }}</h4>
    </div>
  </div>

</div>

<div class = "message-room-container">
  <div class="messages-header">
    <!-- <h2>Array: {{messages}}</h2> -->
    <h2>{{ currentRoom.$value }}</h2>
  </div>
  <div class="messages-list" ng-repeat="message in messages">
    <div class="">{{ message.username }} | {{ message.sentAt }}</div>
    <div class="message-content">{{ message.content }}</div></br>
  </div>

</div>
