<div class="sidebar">
  <div class="logo-wrapper">
    <div class="circle"></div>
    <h1><span class="title">Bloc</span><br/><span class="title">Chat</span></h1>
  </div>

  <div class=room-list>
    <div class="user-info" ng-show="currentUser.username">
      Hello, <span class="user-name">{{ currentUser.username }}!</span>
      <div class="log-out" ng-click="clearUser()">Log Out</div>
    </div>
    <h2><button type="button" class="btn add-rm-button btn-lg" ng-click="open()">Add Room</button></h2></br>
    <div ng-repeat="room in rooms" >
        <h4 class="room-name" ng-click="selectRoom(room)" ng-class="{'selected-room':room == currentRoom}" >{{ room.$value }}</h4>
    </div>
  </div>
</div>

<!-- <div class = "message-room-container" ng-show="currentRoom.$id"> -->
<div class = "message-room-container">
  <div class="room-name-header">
    <h2>{{ currentRoom.$value }}</h2>
  </div>
    <div class="messages">
      <div class="messages-list" ng-repeat="message in messages">
        <div class="message-header"> <span ng-class="{'your-name':message.username == you.username}">{{ message.username }}</span> <span class="date-time">- {{ message.sentAt | date: "medium" }}</span></div> <!-- add ng-show for class where u.n. is currentUser ??-->
        <div class="message-content">{{ message.content }}</div></br>
      </div>
      <!-- <span class="message-content" ng-bind="newMessage.content">{{ newMessage.content }}</span> -->
    </div>

  <div class="message-form">
    <input ng-keyup="$event.keyCode == 13 && createMessage()" type="text" name="input" placeholder="Type your message here" class="message-box" ng-model="newMessage.content">
    <button class="btn btn-sm" ng-disabled="form.$invalid" type="button" ng-click="createMessage()">SEND</button>
  </div>

<!-- <div class = "message-room-container" ng-show="!currentRoom.$id">
<div class = "message-room-container">
  <div class="pick-room">
    PICK A ROOM OR CLICK "ADD ROOM" TO START A NEW ONE!
  </div>
</div> -->
